<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
</head>

<body>
    <div id="section1">
        <div id="top-left">
            <h2>www.AIplotter.com</h2>
        </div>
        <div id="top-right">
            <h2>Queries</h2>
            <h2>Explore us</h2>
        </div>
        <div id="mid">
            <div id="midhero">
                <h1>Always on, always</h1>
            </div>
            <div id="midhero">
                <h1>helpful <span class="special">Using AI</span> to help</h1>
            </div>
            <div id="midhero">
                <h1>find your solution</h1>
            </div>

            <p id="text2sub">Our AI is designed to listen, understand, and provide personalized <br> graph to visulize
                your data.</p>
            <h1 id="textmid">Upload your dataset in csv form</h1>
        </div>
        <div id="bottom">
            <input type="File" id="uploadfile" accept=".csv">
            <label id="upfile" for="uploadfile"> UPLOAD FILE</label>
            <button id="confirmfile">Confirm</button>
        </div>
        <div id="progressbar">
            <h3>Uploading <span id="incnum">0</span>%</h3>
            <div id="bar">
                <div id="barline">

                </div>
            </div>
        </div>
    </div>
    <div id="section2">
        <h2>Enter description</h2>
        <form id="form" action="/createfile" method="post" onsubmit="submitForm(event)">
            <textarea style="resize: none;" name="content" placeholder="Enter your description here.."
                id="desc"></textarea>
            <div id="buttonbox">
                <button id="submitbutton">Send</button>
            </div>

        </form>



    </div>

    <div id="section3">
        <div id="graphcontent">
            <canvas id="chart" height="400" width="400"></canvas>
        </div>
    </div>
    <script type="text/javascript" src="https://unpkg.com/sheryjs/dist/Shery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3.chart/0.3.0/d3.chart.min.js"
        integrity="sha512-QETtBMmdL3kiDKvgtrz9ni2wDJ8Pt74WL90Q5tHogUi3JZsz8mDp+ey601pTYYRw+OmLLX956h2TeoJDw04+PQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://unpkg.com/sheryjs/dist/Shery.js"></script>
    <script src="
        https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js
        "></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>

    <script src="script.js">

    </script>
</body>

</html>